@using reCAPTCHA.MVC
@using UmbBase.Web.Controllers
@model UmbBase.Web.Models.HRFormViewModel
@{
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

    bool showSuccessMessage = Request.Url.PathAndQuery.Contains("success");
    bool showfailMessage = Request.Url.PathAndQuery.Contains("Failed");
}

@using (Html.BeginUmbracoForm<HRController>("HRApplicationForm", FormMethod.Post, new { @class = "", id = "hrapplicationform", role = "form" }))
{
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.FullName, new { placeholder = Common.Translate("ContactForm.NameLastName"), @id = "name", type = "text" })
    </div>
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.birthplace, new { @id = "birthplace", type = "text" })
    </div>
    <div class="col-md-12">
        <div class="col-md-3 text-left">@Common.Translate("ContactForm.BirthDay")</div>
        <div class="col-md-5">@Html.TextBoxFor(m=>m.BirtDay, String.Format("{0:d}", DateTime.Now.ToShortDateString()), new { @class = "ui-datetimepicker", @id = "BirtDay", type = "date", name = "BirtDay" })</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 text-left">@Common.Translate("ContactForm.Sexual")</div>
        <div class="col-md-9">
            @Common.Translate("ContactForm.Male") @Html.RadioButtonFor(m => m.Sexual, Common.Translate("ContactForm.Male"), new { @id = "Sexual" })
            @Common.Translate("ContactForm.Female") @Html.RadioButtonFor(m => m.Sexual, Common.Translate("ContactForm.Female"), new { @id = "Sexual" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 text-left">
            @Common.Translate("ContactForm.Smoking")
        </div>
        <div class="col-md-9">
            @Common.Translate("ContactForm.Yes") @Html.RadioButtonFor(m => m.smoke, Common.Translate("ContactForm.Yes"), new { @id = "smoke" })
            @Common.Translate("ContactForm.No") @Html.RadioButtonFor(m => m.smoke, Common.Translate("ContactForm.No"), new { @id = "smoke" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-3 text-left">
            @Common.Translate("ContactForm.MaritalStatus")
        </div>
        <div class="col-md-9">
            @Common.Translate("ContactForm.Married") @Html.RadioButtonFor(m => m.maritalStatus, Common.Translate("ContactForm.Married"), new { @id = "maritalStatus" })
            @Common.Translate("ContactForm.Single") @Html.RadioButtonFor(m => m.maritalStatus, Common.Translate("ContactForm.Single"), new { @id = "maritalStatus" })
        </div>
    </div>
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.TelNo, new { placeholder = "05xxxxxxxxx", @id = "TelNo", type = "text" })
    </div>
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.Email, new { placeholder = Common.Translate("ContactForm.Email"), @id = "Email", type = "text" })
    </div>
    <div class="col-md-12">
        @Html.TextAreaFor(m => m.PreviewText, new { placeholder = Common.Translate("ContactForm.PreviewText"), @id = "PreviewText" })
    </div>
    <div class="col-md-12">
        <div class="col-md-3 text-left">
            @Common.Translate("ContactForm.CV")
        </div>
        <div class="col-md-9">
            <input type="file" name="file" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="g-recaptcha" data-sitekey="6LdOVhsUAAAAAPfVvWAKXdC07eF3u4GuywB7eYW-"></div>
        @*@Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")*@

    </div>
    <div class="col-md-12">
        <button type="submit" id="submit" data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);"><span>@Common.Translate("ContactForm.Submit")</span></button>
    </div>
}