@using UmbBase.Web.Business
@using Umbraco.Web.Models
@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage	
@{
    Layout = "Master.cshtml";
    var home = Common.SiteRoot(CurrentPage);
    var carousel = CurrentPage._sliderGallery != null ? Umbraco.Content(CurrentPage._sliderGallery) : null;
    var aboutPage = CurrentPage.aboutPage != null ? Umbraco.Content(CurrentPage.aboutPage) : null;
    var projectPage = CurrentPage.projeLink != null ? Umbraco.Content(CurrentPage.projeLink) : null;
	var icon = "&#xf085;";
}





@if (carousel != null && carousel.Children.Any())
{
    <section class="home">
        <a href="#scroll-link" class="arrow-down scroll">&#xf103;</a>
        <div class="slider-container">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        @foreach (var slide in carousel.Children)
                        {


                            <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                                <img src="@Common.GetThumbnailFromCarouselItem(slide,"Carousel")" alt="slidebg1" data-lazyload="@Common.GetThumbnailFromCarouselItem(slide,"Carousel")" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}

		
<section class="section white-section section-padding-top" id="scroll-link">
			<div class="container">
				<div class="sixteen columns">
					<div class="section-title">
						<h2>@Umbraco.Field("ustBaslik")</h2>
						
					</div>
				</div>
				<div class="sixteen columns remove-bottom" data-scroll-reveal="enter bottom move 400px over 1s after 0.1s">
					<div class="full-image">
						<img src="@Umbraco.Field("hakkimizdaResim")"  alt="hakkimizda-resim">
					</div>
				</div>
			</div>


		</section>

		
					<section class="section white-section section-padding-top-bottom">
		
			<div class="container">
				<div class="sixteen columns">
					<div class="button-shortcodes-wrap">
					<center>
					<a href="@aboutPage.Url"><div class="button-shortcodes text-size-1 text-padding-1 version-2"><span>&#xf18e;</span> @Umbraco.Field("hakkimidabuton")</div></a>
					</center>
						
					</div>
				</div>
			</div>
				
		</section>	
						
	
		<section class="section grey-section section-padding-top-bottom">
			<div class="container">
				
    

@{
	var hizmetler = CurrentPage.AncestorOrSelf(3).Descendants()
                   .Where("DocumentTypeAlias == \"anasayfaHizmetler\"").OrderBy("CreateDate");
}

	@foreach(var item in hizmetler){
		
	<div class="one-third column" data-scroll-reveal="enter left move 200px over 1s after 0.3s">
					<div class="services-boxes-1">
<div class="icon-box">@if(!string.IsNullOrEmpty(item.hizmetIcon.ToString())){@Html.Raw(item.hizmetIcon)}else{@Html.Raw(icon)}</div>
						<h6>@item.hizmetBaslik</h6>
						<p>@item.hizmetIcerik</p>
					</div>
				</div>	
		 
	}


			</div>
		</section>


	<!-- SECTION
    ================================================== -->	
	
		<section class="section white-section section-padding-top-bottom">
			<div class="container">
				<div class="sixteen columns">
					<div class="section-title">
						<h3>@Umbraco.Field("projesurecbaslik")</h3>
						<div class="subtitle"><span class="subtitle-written"></span></div>
					</div>
				</div>
				<div class="sixteen columns">
					<div id="cd-timeline" class="cd-container">


@{
	var projesurec = CurrentPage.AncestorOrSelf(3).Descendants()
                   .Where("DocumentTypeAlias == \"anasayfaProjeSureci\"").OrderBy("CreateDate");
}

	@foreach(var proje in projesurec){
		
	<div class="cd-timeline-block">
							<div class="cd-timeline-img">@if(!string.IsNullOrEmpty(proje.projeIkon.ToString())){@Html.Raw(proje.projeIkon)}else{@Html.Raw(icon)}</div>
							<div class="cd-timeline-content">
								<h6>@proje.projebaslik</h6>
								<p>@proje.projeicerik</p>
								<span class="cd-date">@proje.projeYuzde %</span>
							</div>
						</div>
		
	}


					</div>
				</div>
			</div>
		</section>
	
	<!-- SECTION
    ================================================== -->	
	
		<section class="section parallax-section parallax-section-padding-top-bottom">
		
			<div class="parallax-1" style="background: url('@Umbraco.Field("ortaResim")')"></div>	
			
			<div class="container">
				<div class="container">
					<div class="four columns">
						<div class="facts-box-1">
							<div class="facts-box-1-num"><span class="counter">5555</span><div class="line"></div></div>
							<h6>Endüstriyel</h6> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-box-1">
							<div class="facts-box-1-num"><span class="counter">5555</span><div class="line"></div></div>
							<h6>Ticari</h6> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-box-1">
							<div class="facts-box-1-num"><span class="counter">5555</span><div class="line"></div></div>
							<h6>idari</h6> 
						</div>
					</div>
					<div class="four columns">
						<div class="facts-box-1">
							<div class="facts-box-1-num"><span class="counter">5555</span><div class="line"></div></div>
							<h6>konut</h6> 
						</div>
					</div>
				</div>
			</div>
		</section>	
	
	<!-- SECTION
    ================================================== -->	
	
		<section class="section white-section section-padding-top-bottom">
			<div class="container">
				<div class="five columns">
					<div class="cd-product cd-container">
						<div class="cd-product-wrapper">
							<img src="images/ev.png" alt="Preview image">
							<ul>
								<li class="cd-single-point">
									<a class="cd-img-replace" href="#0">More</a>
									<div class="cd-more-info cd-top">
										<h6>Title</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus.</p>
										<a href="#0" class="cd-close-info cd-img-replace">Close</a>
									</div>
								</li> <!-- .cd-single-point -->

								<li class="cd-single-point">
									<a class="cd-img-replace" href="#0">More</a>
									<div class="cd-more-info cd-top">
										<h6>Title</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus.</p>
										<a href="#0" class="cd-close-info cd-img-replace">Close</a>
									</div>
								</li> <!-- .cd-single-point -->

								<li class="cd-single-point">
									<a class="cd-img-replace" href="#0">More</a>
									<div class="cd-more-info cd-right">
										<h6>Title</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus.</p>
										<a href="#0" class="cd-close-info cd-img-replace">Close</a>
									</div>
								</li> <!-- .cd-single-point -->

								<li class="cd-single-point">
									<a class="cd-img-replace" href="#0">More</a>
									<div class="cd-more-info cd-left">
										<h6>Title</h6>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae distinctio esse placeat minus fugit, voluptate, quos, ea, nisi temporibus repudiandae perspiciatis natus.</p>
										<a href="#0" class="cd-close-info cd-img-replace">Close</a>
									</div>
								</li> <!-- .cd-single-point -->
							</ul>
						</div> <!-- .cd-product-wrapper -->
					</div> <!-- .cd-product -->
				</div>
				
				<div class="eleven columns">
					<div class="section-title left">
						<h3>@Umbraco.Field("projeyonetimbaslik")</h3>
						<div class="subtitle left"><span class="subtitle-written"></span></div>
					</div>

	
						
@{
	var yonetim = CurrentPage.AncestorOrSelf(3).Descendants()
                   .Where("DocumentTypeAlias == \"anasayfaProjeYonetimi\"").OrderBy("CreateDate");
}

	@foreach(var item in yonetim){
	
		<div class="services-boxes-1 interest-padding" data-scroll-reveal="enter right move 200px over 1s after 0.3s">
						<div class="icon-box">@if(!string.IsNullOrEmpty(item.yonetimIkon.ToString())){@Html.Raw(item.yonetimIkon)}else{@Html.Raw(icon)}</div>
						<h6>@item.yonetimBaslik</h6>
						<p>@item.yonetimIcerik</p>
					</div>	
		
	}

				</div>							
											
											
			</div>
		</section>	
	
	<!-- SECTION
    ================================================== -->	
	
		<section class="section grey-section section-padding-top">
			<div class="container">
				<div class="sixteen columns">
					<div class="section-title">
						<h3>@Umbraco.Field("sonprojelerbaslik")</h3>
						<div class="subtitle"><span class="subtitle-written"></span></div>
					</div>
				</div>
			</div>
			<div class="portfolio-wrap-1">


			
 @{
	 var sonprojeler = CurrentPage.AncestorOrSelf(3).Descendants()
                   .Where("DocumentTypeAlias == \"project\"").OrderBy("Id desc");


}

    @foreach(var item in sonprojeler.Take(12)){


                <a href="@item.Url" class="animsition-link">
                    <div class="portfolio-box-1">
                        <div class="mask-1"></div>
                        <img src="@Umbraco.Media(@item.pageImage.ToString()).Url" alt="@item.pageTitle">
                        <h6>@item.pageTitle</h6>
                    </div>
                </a>

    }
				
				
			

			</div>
			<div class="call-to-action-1">
				<div class="action-top-1"></div>
				<h5></h5>
				<a href="@projectPage.Url" class="button-1 animsition-link">@Umbraco.Field("tumprojelerbuton")</a>
			</div>
		</section>	
	
	<!-- SECTION
    ================================================== -->	
	
		<section class="section grey-section section-padding-top-bottom">
	
			<div class="container">
				<div class="sixteen columns">
					<ul id="owl-logos" class="owl-carousel owl-theme">			
@{
	var selection1 = CurrentPage.Site().FirstChild("clientHome").FirstChild("referanslar").Children("referansLogo").Where("Visible");
}


	@foreach(var item in selection1){
		<li><img src="@item.reflogoresim" alt="@item.referansLogoBaslik" /></li>
			
	
	}



					</ul>
				</div>
			</div>
				
		</section>
			
			
@section jsek{
<script type="text/javascript" src="/scripts/custom-index.js"></script>  
}						
						
