@model UmbBase.Web.Models.HRFormViewModel

<p>Merhaba</p>
<p>Bu form web ik formu tarafından gönderilmiştir.</p>
<p>İsim : @Model.FullName</p>
<p>Email : @Model.Email</p>
<p>Doğum Yeri : @Model.birthplace</p>
<p>Doğum Tarihi : @Model.BirtDay</p>
<p>Medeni Hali : @Model.MaritalStatus</p>
<p>ÖnYazı : @Model.PreviewText</p>
<p>Cinsiyet : @Model.Sexual</p>
<p>Sigara Kullanımı : @Model.smoke</p>
<p>Telefon Numarası : @Model.TelNo</p>
---------
Some Footer Text

